# Eclipse
.springbeans
.factorypath
.classpath
.project
.settings/
.settings/*
*.log
*.tlog
*.txt
!goal.txt
*.log
*.zip

# Maven
log/
target/

# IntelliJ
.idea
*.iml

#Atomikos
*.lck
*.epoch
*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# STS (Spring Tool Suite)
.springBeans

# Maven revision
.flattened-pom.xml

# Mac Desktop Store
.DS_Store



